* {
    box-sizing: border-box;
}

section {
    border: 3px red solid;
    text-align: center;
    width: 33.3333%;
    height: 250px;
    float: left;
}

header,
footer {
    border: 3px solid black;
    text-align: center;
    height: 250px;
    clear: both;
}

.col-50 {
    float: right;
    width: 50%;
    height: 300px;
}